<% if @employee.errors.any? %>
	<div id="errors">
		<p>Please correct the following <%= pluralize(@employee.errors.count, "error") %>:</p>
		<ul>
			<% @employee.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<%= form_for(@employee) do |f| %>
	<div class="form">
		<%#= f.label :fname, 'First Name' %>
		<%= f.text_field :fname, placeholder: "Enter First Name", class:"form-control form-control-md", id:"formInput" %>
	</div>
  <div class="form">
		<%#= f.label :lname, 'Last Name' %>
		<%= f.text_field :lname, placeholder: "Enter Last Name", class:"form-control form-control-md", id:"formInput" %>
	</div>
	<div class="form">
		<%#= f.label :email, 'Email' %>
		<%= f.text_field :email, placeholder: "Email", class:"form-control form-control-md", id:"formInput" %>
	</div>
	<div class="form">
		<%#= f.label :phone, 'Phone Number' %>
		<%= f.text_field :phone, placeholder: "Phone Number", class:"form-control form-control-md", id:"formInput" %>
	</div>
  <div class="form">
		<%= f.label :department_id, "Select a Department", class:"label" %>
	</div>
	<div class="form">			
		<%= f.collection_select(:department_id, Department.all, :id, :name, prompt: true) %>		
	</div>
	<div class="form">
		<%= f.submit @employee.new_record? ? "Create Employee" : "Update Employee",class:"btn btn-dark", id:"button" %>
	</div>
<% end %>

<div class="page-links">
	<%= link_to 'Back', :back, class: "btn btn-success btn-sm" %> 
</div>