<table class="table table-dark table-striped">
	<tbody>
		<tr>
			<th>Name</th>
			<td><%= @employee %></td>
		</tr>
		<tr>
			<th>Department</th>
			<td><%= @employee.department %></td>
		</tr>
		<tr>
			<th>Email</th>
			<td><%= @employee.email %></td>	
		</tr>
			<th>Phone Number</th>	
			<td><%= @employee.phone %></td>					
		</tr>		
	</tbody>
</table>

<div class="page-links">
	<%= link_to 'Edit employee', edit_employee_path(@employee), class:"btn btn-light btn-sm"  %>
</div>


<table class="table table-striped">
	<tbody>
		<tr>			
			<th>Employee</th>
			<th>Works</th>
			<th>Date performed</th>
			<th>Hours</th>
			<th>File</th>		
			<th>View</th>	
		</tr>
		<tr><h1><%= @employee %>'s work record</h1></tr>
		<%= render partial: "works/work", collection: @employee.works %>
	</tbody>
</table>

<div class="page-links">
	<%= link_to "Employees", employees_path, class: "btn btn-secondary btn-sm" %> | 
	<%= link_to 'Home', root_path, class: "btn btn-success btn-sm" %>
</div>