<% if @work.errors.any? %>
	<div id="errors">
		<p>Please correct the following <%= pluralize(@work.errors.count, "error") %>:</p>
		<ul>
			<% @work.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<%= form_with model:@work, multipart: true do |f| %>
	<div class="form">
		<%= f.label :project_id, class:"label" %>
	</div>
	<div class="form">
		<%= f.collection_select(:project_id, Project.all, :id, :name, prompt: true) %>
	</div>
	<div class="form">
		<%= f.label :employee_id, class:"label" %>
	</div>
	<div class="form">
		<%= f.collection_select(:employee_id, Employee.all.order('lname, fname'), :id, :to_s, prompt: true) %>
	</div>
	<div class="form">
		<%= f.label :datetimeperformed, 'Date/Time Performed' %>
	</div>
	<div class="form">
		<%= f.datetime_select :datetimeperformed %>
	</div>
	<div class="form">
		<%= f.label :hours, class:"label" %>
	</div>
	<div class="form">
		<%= f.select(:hours, [1,2,3,4,5,6,7,8], prompt: true) %>
	</div>
	<div class="form">		
		<%= f.label :file, 'Notes (optional)', class:"label" %>
	</div>
	<div class="form">
		<%= f.file_field :file %>		
	</div>
	<div class="form">
		<%= f.submit @work.new_record? ? "Create Work" : "Update Work",class:"btn btn-dark", id:"button"  %>
	</div>
<% end %>

<div class="page-links">
	<%= link_to 'Back', :back, class: "btn btn-success btn-sm" %> 
</div>