<% if @work.errors.any? %>
	<div id="errors">
		<p>Please correct the following <%= pluralize(@work.errors.count, "error") %>:</p>
		<ul>
			<% @work.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<%# doajax = false unless (defined? doajax) %>
<%= form_with model:@work, multipart: true do |f| %>
	<div>
		<%= f.label :project_id %>
		<%= f.collection_select(:project_id, Project.all, :id, :name, prompt: true) %>
	</div>
	<div>
		<%= f.label :employee_id %>
		<%= f.collection_select(:employee_id, Employee.all.order('lname, fname'), :id, :to_s, prompt: true) %>
	</div>
	<div>
		<%= f.label :datetimeperformed, 'Date/Time Performed' %>
		<%= f.datetime_select :datetimeperformed %>
	</div>
	<div>
		<%= f.label :hours %>
		<%= f.select(:hours, [1,2,3,4,5,6,7,8], prompt: true) %>
	</div>
	<div>
		<div>
			<%= f.label :file, 'Notes (optional)' %>
			<%= f.file_field :file %>
		</div>
	</div>
	<div>
		<%= f.submit @work.new_record? ? "Create Work" : "Update Work"  %>
	</div>
<% end %>

<%= link_to 'Back', :back, class: "btn btn-success btn-sm" %> 