<table class="table table-dark table-striped">
	<tbody>
		<tr>
			<th>Employee's Name</th>
			<td><%= @work.employee.fname %> <%= @work.employee.lname %></td>
		</tr>
		<tr>
			<th>Project's Name</th>
			<td><%= @work.project.name %></td>
		</tr>
		<tr>
			<th>Date Performed</th>
			<td><%= @work.datetimeperformed %></td>	
		</tr>
			<th>Hours Worked For This Project</th>	
			<td><%= @work.hours %></td>					
		</tr>		
	</tbody>
</table>
<!--if file is present, then display a link -->

<%if @work.file.present? %>
  <p>View File: <%#= link_to @work.file, "/uploads/#{@work.file}", target: "_blank" %>  
  <%= link_to @work.file.filename, rails_blob_path(@work.file, disposition: "attachement") %>
  </p>
<% end %>

<%= link_to  "All Works", works_path, class: "btn btn-secondary btn-sm"  %> | 
<%= link_to 'Edit Work', edit_work_path(@work), class:"btn btn-light btn-sm"  %>