<h1><%= @department.name %></h1>

<p><%= link_to 'Edit department', edit_department_path(@department) %></p>

<% if @department.projects.size > 0 %>
	<table>
		<tbody>
			<tr>
				<th>Project</th>
				<th>Department</th>
			</tr>
			<%= render partial: "projects/project", collection: @department.projects %>					
		</tbody>
	</table>
	<br />	
	<p>Employees in this department</p>
	<%= render partial: "employees/employee", collection: @department.employees %>
<% else %>
	<p>No projects</p>
<% end %>

<br />
<%= link_to 'Home', root_path %>