<h1><%= @department.name %></h1>

<% if @department.projects.size > 0 %>
	<table class="table table-striped">
		<tbody>
			<tr>
				<th>Project</th>
				<th>Department</th>
			</tr>
			<%= render partial: "projects/project", collection: @department.projects %>					
		</tbody>
	</table>
	<br />

<div class="page-links">
	<%= link_to 'Edit department', edit_department_path(@department), class:"btn btn-light btn-sm" %>
</div>

	<p>Employees in this department</p>
	<table class="table table-striped">
	<tbody>
		<tr>
			<th>Employee</th>
			<th>Department</th>	
			<th>Email</th>
			<th>Phone Number</th>	
			<th></th>	
		</tr>
		<%= render partial: "employees/employee", collection: @department.employees %>
	</tbody>
</table>	
<% else %>
	<h3>No Projects Yet</h3>
<% end %>

<br />
<div class="page-links">
	<%= link_to  "All Works", works_path, class: "btn btn-secondary btn-sm"  %> | 
	<%= link_to 'Home', root_path, class: "btn btn-success btn-sm" %>
</div>