<%= form_for(@project) do |f| %>
	<% if @project.errors.any? %>
		<div id="errors">
			<p>Please correct the following <%= pluralize(@project.errors.count, "error") %>:</p>
			<ul>
				<% @project.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div class="form">
		<%#= f.label :name %>
		<%= f.text_field :name, placeholder: "Enter Name", class:"form-control form-control-md", id:"formInput" %>
	</div>	
	<div class="form">
		<%#= f.label :rate %>
		<%= f.text_field :rate, placeholder: "Enter The Current Hourly Rate", class:"form-control form-control-md", id:"formInput" %>
	</div>
	<div class="form">
		<%= f.label :department_id, class:"label" %>
	</div>
	<div class="form">
		<%= f.collection_select(:department_id, Department.all, :id, :name, prompt: true) %>
	</div>
	<div class="form">
		<%= f.submit @project.new_record? ? "Create Project" : "Update Project",class:"btn btn-dark", id:"button"  %>
	</div>
<% end %>

<div class="page-links">
	<%= link_to 'Back', :back, class: "btn btn-success btn-sm" %> 
</div>