<h1><%= @project.name %></h1>

<p>Department: <%= @project.department.name %>
<p>Rate: <%= @project.rate %></p>


<p><%= link_to 'Edit Project', edit_project_path(@project), class:"btn btn-light btn-sm"  %></p>

<div class="remoteform">
	<h2>Add Work</h2>
	<%#= render partial: 'works/form' %>
</div>

<% if @project.works.size > 0 %>
	<table class="table table-striped">
		<tbody>
			<tr id="headerrow">				
				<th>Employee</th>
				<th>Project</th>
				<th>Date/Time</th>
				<th>Hours</th>
				<th>File</th>
				<th>View</th>
			</tr>
			<%= render partial: "works/work", collection: @project.works %>
		</tbody>
	</table>
<% else %>
	<p>No work items</p>
<% end %>

<%= link_to 'All Projects', projects_path, class: "btn btn-secondary btn-sm"  %>