<h1><%= @project.name %></h1>

<table class="table table-dark table-striped">
	<tbody>
		<tr>
			<th>Department:</th>
			<td><%= @project.department.name.capitalize() %></td>
		</tr>
		<tr>
			<th>Rate:</th>
			<td><%= @project.rate %></td>
		</tr>		
	</tbody>
</table>


<div class="page-links">
	<%= link_to 'Edit Project', edit_project_path(@project), class:"btn btn-light btn-sm"  %>
</div>

<div class="remoteform">
	<h1>All Work</h1>
	<%#= render partial: 'works/form' %>
</div>

<% if @project.works.size > 0 %>
	<table class="table table-striped">
		<tbody>
			<tr id="headerrow">				
				<th>Employee</th>
				<th>Project</th>
				<th>Date/Time</th>
				<th>Hours</th>
				<th>File</th>
				<th>View</th>
			</tr>
			<%= render partial: "works/work", collection: @project.works %>
		</tbody>
	</table>
<% else %>
	<h3>No Work Items Yet</h3>
<% end %>

<div class="page-links">
	<%= link_to 'All Projects', projects_path, class: "btn btn-secondary btn-sm"  %>
</div>