<h3>Log in</h3>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form">
    <%#= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Enter Email", class:"form-control form-control-md", id:"formInput" %>
  </div>

  <div class="form">
    <%#= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Enter Password", class:"form-control form-control-md", id:"formInput" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="form">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="page-links">
    <%= f.submit "Log in", class:"btn btn-dark", id:"button" %>
    <%= render "devise/shared/links" %>
  </div>
<% end %>


